.fundo {
    background-color: black;
    height: 48px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

option {
    background-color: rgb(233, 234, 234);
    color: black;
}

.dropdown {
    background: none;
    color: white;
    border: none;
    position: absolute;
}

.container {
    margin-right: 50px;
    margin-bottom: 15px;
    display: flex;
    position: absolute;
    right: 7%;
}


.container {
    display: flex;
}

a:link {
    color: white;
}

a:visited {
    color: white
    ;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
}