.container {
    display: flex;
    margin-left: 80px;
    margin-top: 20px;
}

.imgProduto{
    width: 270px;
    margin-right: 10px;
}

.tituloProduto{
    margin-top: 15px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
}

.preco{
    margin-top: 15px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    color:#DB4444;
    margin-top: 10px;
}

img {
    margin-top: 10px;
}