.cabecalho {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 50px;
    padding: 10px;
    justify-content: space-evenly;
    border-bottom: solid 2px rgba(209, 209, 209, 0.267);
}

h2{
    margin-top: 15px;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
}

.header {
    display: flex;
    margin: 20px;
}

.cabecalho nav ul{
    display: flex;
    list-style: none;
}

.cabecalho nav {
    margin-top: 23px;
    margin-left: 50px;
}

.cabecalho nav ul li{
    margin-right: 20px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
}

.shop {
    display: flex;
    justify-content: center;
}

.busca {
    margin-top: 25px;
}

.carro {
    width: 30px;
    height: 30px;
}

.core {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 15px;
}
